body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;  /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
    min-height: 100vh; /* Hace que el body ocupe toda la pantalla */
}
/* Diseño del encabezado, que repetiremos en todas las hojas */
header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(153, 16, 153) ;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: white;
}
header h1{
    font-size: 3vw;
}
#logo{
    width: 90px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 15px;
}
#inicio{
    background-color: beige;
    border-radius: 30%;
}
nav{
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 1.5vw;
}
nav>a{
    padding: 10px;
    text-decoration: none;
    color: black;
    margin: 4px;
    border-radius: 30%;
    transition: background-color 0.3s ease-in-out, transform 0.5s ease-in-out 0.25s; 
}
.enlace:hover{
    background-color: rgb(204, 154, 250);
    transform: scale(1.1);
    
}
/* fin del diseño de encabezado */
div{
    margin-top: 100px;
    flex: 1; 
}
section{
    margin-top: 40px;
}
#introduccion{
    display: grid;
    grid-template-columns: 2fr 1fr; /* Dos columnas de igual tamaño */
    align-items: center; /* Alinea los elementos verticalmente */
    gap: 20px; 
    padding: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
#introduccion b{
    background-color: rgb(230, 204, 253);
}
#introduccion i{
    background-color: beige;
}

#introduccion img{
    width: 90%;
    border-radius: 10%;
}
#ponentes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#ponentes article{
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 15px;
}
#ponentes img{
    display: flex;
    width: 90%;
}
#ponentes a{
    padding: 10px;
    width: 20%;
    text-align: center;
    font-size: 2vw;
    background: linear-gradient(45deg, rgb(217, 183, 240), rgb(255, 241, 203));
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    border-radius: 20%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#ponentes a:hover{
    transform: scale(1.2);

}
#datos{
    display: flex;
    align-items: center;
    justify-content: center;
}
#datos:hover a{
    display: block;
}
#datos a:hover{
    display: block;
    transform: scale(1.2); /* Hace que el elemento crezca un 10% */
    transition: transform 0.5s ease;
    transition-delay: 0.5s; /* Se ejecuta después del cambio de color */
}
#datos img{
    width: 100%;
}
#datos a{
    position: absolute;
    padding: 10px;
    font-size: 2vw;
    background: linear-gradient(45deg, pink, palevioletred);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    border-radius: 30%;
    display: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 90px;
}
/* Diseño de pie de pagina que copiaremos en el resto de paginas css */
footer{
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro */
    justify-content: space-around; /* Centra los elementos horizontalmente */
    background-color: beige;
    margin-top: 20px;
    width: 100%;
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Asegura que el texto dentro esté centrado */
}

