body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}
/* Diseño del encabezado, que repetiremos en todas las hojas */
header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(153, 16, 153) ;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: white;
}
header h1{
    font-size: 2.5vw;
}
#logo{
    width: 90px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 15px;
}
#registro{
    background-color: beige;
    border-radius: 30%;
}
nav{
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 1.5vw;
}
nav>a{
    padding: 10px;
    text-decoration: none;
    color: black;
    margin: 4px;
    border-radius: 30%;
    transition: background-color 0.3s ease-in-out, transform 0.5s ease-in-out 0.25s; 
}
.enlace:hover{
    background-color: rgb(204, 154, 250);
    transform: scale(1.1);
    
}
/* Fin del diseño de encabezado */
/* Diseño del formulario */
.formulario{
    margin-top: 80px;
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.beige{
    background-color: beige;
}
.lila{
    background-color: rgb(236, 199, 236);
}
form{
    margin: 25px;
    width: 95%;
}
fieldset{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: none;
    margin: 20px;
}
.beige>legend{
    background-color: beige
}
.lila>legend{
    background-color: rgb(236, 199, 236);
}
legend{
    border-radius: 10px;
    font-weight: bolder;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
input{
    margin-bottom: 20px;
}
select{
    margin-bottom: 10px;
}
.talleres div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 5px
}
.talleres p{
    margin-bottom: 0px;
}
.entrada div{
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 5px;
}
.entrada-titulo{
    margin-top: 20px;
}
.entrada div>p{
    margin-top: 0px;
    padding-left: 20px;;
}
.cv>input{
    margin-bottom: 20px;
}
.comentario>textarea{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Botones del formulario */
.botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: none;
}
.botones input{
    font-size: 20px;
    border-radius: 20%;
    border:none;
    padding: 20px;
}
/* Diseño del boton con enlace */
.formulario a{
    padding: 10px;
    width: 60%;
    text-align: center;
    font-size: 2vw;
    background: linear-gradient(45deg, rgb(217, 183, 240), rgb(255, 241, 203));
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.formulario a:hover{
    transform: scale(1.2);

}
/* Fin del diseño de botón */
/* Diseño de pie de pagina que copiaremos en el resto de paginas css */
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}